.footer_item {
    background-color: #161616;

    .columns {
        .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 15px;
            border-radius: 5px;
            background: transparent;
            outline: none;

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: #485fc7;
                cursor: pointer;
            }
            &::-moz-range-thumb {
                width: 20px;
                height: 20px;
                border: black;
                border-radius: 50%;
                background: #485fc7;
                cursor: pointer;
            }
        }
    }

    .footer_info_column {
        margin-left: 3vw;

        .media {
            .media-left {
                p {
                    img {
                        height: 60px;
                        width: 60px;
                    }
                }
            }
            .media-content {
                .content {
                    .footer_info {
                        #footer-song-name {
                            color: white;
                            opacity: 0.85;
                        }
                        #footer-song-artist {
                            color: white;
                            opacity: 0.85;
                        }
                        #footer-song-sample-rate {
                            color: white;
                            opacity: 0.85;
                        }
                    }
                }
            }
        }
    }
    .footer_control_column {
        .columns {
            .pre_input {
                transform: translateY(-9px);
                color: white;
                opacity: 0.85;
            }

            .column {
                .footer_input_anchor {
                    position: relative;

                    progress {
                        position: absolute;
                        width: 98%;
                        transform: translateX(1%);
                    }

                    input {
                        position: absolute;
                        transform: translateY(-4px);
                    }
                }
            }

            .post_input {
                transform: translateY(-9px);
                color: white;
                opacity: 0.85;
            }
        }
    }
    .volume_control_column {
        transform: translateY(40px);

        .column {
            .volume_anchor {
                position: relative;

                .volume_progress {
                    position: absolute;
                    width: 98%;
                    transform: translateX(2%);
                }

                .volume_slider {
                    position: absolute;
                    transform: translateY(-4px);
                }
            }
        }
    }
}

.disabled_link {
    pointer-events: none;
}

.progress.is-small {
    height: 0.5rem !important;
    transform: translateY(2px);
}
