@media screen and (max-width: 767px) {
    .footer_control_column {
        margin-right: 1em !important;
    }

    .footer_item {
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        height: 120px;

        .footer_info_column {
            .media {
                .media-content {
                    .content {
                        .footer_info {
                            position: absolute;
                            bottom: 10px;
                            max-height: 3em;
                        }
                    }
                }
            }
        }
        .footer_control_column {
            margin-right: 1em !important;

            .footer_control_column_wrapper {
                .footer_control_column_items {
                    width: 50px !important;
                }
            }
        }
    }
}
