zarif-ahnaf.duckdns.org {
    reverse_proxy 127.0.0.1:3000

    handle_path /media/* {
        file_server browse {
            root C:/Programming/soundcore/backend/media
        }
    }
    
    handle_path /api/* {
        reverse_proxy 127.0.0.1:8000
    }
}