zarif-ahnaf.duckdns.org {
    handle /* {
        reverse_proxy 127.0.0.1:3000

    }
    handle_path /media/* {
        file_server browse {
            root C:/Programming/soundcore/backend/media
        }
    }

    handle /api/* {
        reverse_proxy 127.0.0.1:8000
    }
}