zarif-ahnaf.duckdns.org {
    handle_path /media/* {
        file_server browse {
            hide songs
            root C:/Programming/soundcore/media
        }
    }

    handle_path /* {
        reverse_proxy localhost:8000 {
        	@sendfile header X-Sendfile *
            handle_response @sendfile {
                rewrite {http.reverse_proxy.header.X-Sendfile}
                file_server
            }
        }
    }
}
