[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mutagen = "*"
pillow = "*"
django = "*"
djangorestframework = "*"
whitenoise = {extras = ["brotli"], version = "*"}
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
pytz = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[scripts]
dev = "python manage.py runserver"
sync = "python manage.py migrate"
mksync = "python manage.py makemigrations"

[pipenv]
allow_prereleases = true
