$hash-color: rgba(54, 215, 183, 0.75);

.hash_loader {
    .wrapper {
        position: relative;
        width: 50px;
        height: 50px;
        transform: rotate(165deg);
        display: inline-block;

        @keyframes animation-1 {
            0% {
                width: 10px;
                box-shadow: $hash-color 20px -10px, $hash-color -20px 10px;
            }
            35% {
                width: 50px;
                box-shadow: $hash-color 0px -10px, $hash-color 0px 10px;
            }
            70% {
                width: 10px;
                box-shadow: $hash-color -20px -10px, $hash-color 20px 10px;
            }
            100% {
                box-shadow: $hash-color 20px -10px, $hash-color -20px 10px;
            }
        }

        @keyframes animation-2 {
            0% {
                height: 10px;
                box-shadow: $hash-color 10px 20px, $hash-color -10px -20px;
            }
            35% {
                height: 50px;
                box-shadow: $hash-color 10px 0px, $hash-color -10px 0px;
            }
            70% {
                height: 10px;
                box-shadow: $hash-color 10px -20px, $hash-color -10px 20px;
            }
            100% {
                box-shadow: $hash-color 10px 20px, $hash-color -10px -20px;
            }
        }
        
        .style1 {
            position: absolute;
            content: '';
            top: 50%;
            left: 50%;
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            transform: translate(-50%, -50%);
            animation: 2s ease 0s infinite normal none running animation-1;
        }

        .style2 {
            position: absolute;
            content: '';
            top: 50%;
            left: 50%;
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            transform: translate(-50%, -50%);
            animation: 2s ease 0s infinite normal none running animation-2;
        }
    }
}
