@media screen and ( max-width: 767px) {
    .search_input_wrapper {
        display: none;
    }


    .item_image > img {
        width: 100px;
        height: 100px
    }

    .library_hero_right_item {
        margin-left: 0 !important;
    }

   

    .item_subtitle {
        transform: translateY(5px) !important;
    }
}