$upload-hero-color: #191b1f;
$hero-hover-color: #121316;
$upload-hero-border-color: #4c5759;
$main-font-color: #e2dfda;
$page-background-color: #060606;
$upload-hero-border-color: #4c5759;

// Button
$button-hover-font-color: #e2dfda;
$button-background-color: #191b1f;
$button-hover-background-color: #121316;
$button-font: 'Nunito';
