@import './variables';
.navbar {
    background-color: $page-background-color;
}
.icon-box {
    background-color: transparent;
}

.file-cta {
    background-color: $upload-hero-color;
    color: $main-font-color;
    border: 2px dotted $upload-hero-border-color !important;
    transition: 0.3s;
}

.file {
    transform: translateY(-0.8em);
}

.file-label:hover .file-cta {
    background-color: $hero-hover-color;
    border-color: transparent;
    color: $main-font-color;
}

.file_list_box {
    background: #1d2124;
}

.uploaded_items {
    color: $main-font-color;
    text-align: center;
}

.upload-hero {
    background-color: $page-background-color;
    max-height: 68vh;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
        /* WebKit */
        width: 0;
        height: 0;
    }
}
.song-item {
    height: 65px;
    background-color: $upload-hero-color;
    border: 1px solid $upload-hero-border-color !important;
    border-radius: 3px;
}
.song_name {
    width: 35vw;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Roboto' !important;
}
.brand-logo {
    height: 48px;
    width: auto;
}
.upload-box {
    background-color: $upload-hero-color;
    border: 1px solid $upload-hero-border-color;
}
.project-name {
    color: $main-font-color;
}
.item-box {
    background-color: transparent;

    margin-bottom: 0px;

    &:first-of-type {
        margin-top: 0.5em;
    }
    &:last-of-type {
        margin-bottom: 0.5em;
    }
}
.info_level {
    color: $main-font-color;
}

.button {
    background-color: $button-background-color;
    border: 1px solid $upload-hero-border-color !important;
    color: $main-font-color;
    transition: 0.4s;
    font-family: $button-font;

    &:hover {
        background-color: $button-hover-background-color;
        color: $button-hover-font-color;
        font-family: $button-font;
    }
}
.total_song {
    color: $main-font-color;
}
.total_size {
    color: $main-font-color;
}
