@import './variables';

@media screen and (max-width: 767px) {
    .upload-hero {
        max-height: 38vh !important;
    }
}

.file_uploaded_text {
    color: $main-font-color;
}
.upload-hero {
    background-color: $page-background-color;
    max-height: 50vh;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
        /* WebKit */
        width: 0;
        height: 0;
    }
}

.button {
    background-color: $button-background-color;
    border: 1px solid $upload-hero-border-color !important;
    color: $main-font-color;
    transition: 0.4s;
    font-family: $button-font;

    &:hover {
        background-color: $button-hover-background-color;
        color: $button-hover-font-color;
        font-family: $button-font;
    }
}

.song_item_size {
    transform: translateY(-10px);
}
