html {
    background-color: black !important;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    overscroll-behavior: none; /* Disable Stupid pull to refresh */
    height: 100%;

    &::-webkit-scrollbar {
        display: none;
    }

    body {
        overflow: hidden;
        min-height: 100vh;

        .main__body {
            min-height: calc(100vh - 140px);
            margin-bottom: 0;
            max-height: 1vh;

            .left_menu_wrapper {
                transform: translateY(-12px);

                .left-menu {
                    height: 105% !important;
                }
            }

            .right-column {
                background-color: #060606;
                transform: translateX(-12px);
                overflow-x: hidden;
                overflow-y: scroll;
                -ms-overflow-style: none; /* IE and Edge */
                scrollbar-width: none; /* Firefox */

                .grid-container {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
                    gap: 1em;
                    padding-top: 1em;

                    .grid-item {
                        font-size: 30px;
                        vertical-align: middle;
                        display: flex;
                        justify-content: center;

                        .grid-box {
                            background-color: transparent;
                            color: white;

                            .song-image-figure {
                                height: 200px;
                                width: 200px;
                            }

                            /*
                            For some reason I dont want round soundcore_library_items.
                            .song-image {
                                border-radius: 5px;
                            }
                            */
                            .song-description {
                                background-color: transparent;

                                .columns {
                                    .column {
                                        .box {
                                            .song-title {
                                                white-space: nowrap;
                                                width: 8em;
                                                height: 1.3em;
                                                color: #e0e0ec;
                                                overflow: hidden;
                                                text-overflow: ellipsis;
                                            }

                                            .song-artist {
                                                white-space: nowrap;
                                                width: 8em;
                                                height: 1.3em;
                                                color: #a1a1a2;
                                                overflow: hidden;
                                                text-overflow: ellipsis;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* This is active in outer scope */
