.left-menu {
    background-color: #161616;
    height: 100%
}

.icon_box {
    width: 240px;
    background-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 10px;
    border-radius: 0;
}

.icon_box_column {
    transform: translateY(-12px);
}

.icon_box:hover {
    background-color: #404040;
}

.icons {
    border-bottom: 1px solid #313131;
    padding-bottom: .5em;
}

.icon_text {
    color: #e0e0ec
}

.is_icon_active {
    background-color: #242424;
}

.playlist-wrapper {
    padding-top: .5em
}

.add-icon-box {
    height: 25px;
    width: 25px;
    background-color: transparent;
    transform: translateY(-5px);
    border: 1px solid white;
    border-radius: 122px;
}

.add-icon-wrapper {
    display: flex;
    justify-content: center;
    padding: .5em;
    transform: translateX(-25px);
}