$html-background-color: black;
$page-background-color: #060606;

// Font Colors
$tag-font-color: gray;
$main-font-color: #e2dfda;
$tag-href-hover-color: #3273dc;

// Component Variables
$input-field-color: #131417;
$login-box-color: #191a1c;

// Button
$button-hover-font-color: #e2dfda;
$button-background-color: #191b1f;
$button-hover-background-color: #121316;

// Font Variables
$tag-font: 'Roboto';
$button-font: 'Nunito';
$input-placeholder-font: 'Nunito';

$input-border-color: #4c5759;
$login-hero-border-color: $input-border-color;
