html {
    scrollbar-width: none; /* Firefox */
    overscroll-behavior: 'none';

    &::-webkit-scrollbar {
        /* WebKit */
        display: 'none';
    }

    body {
        overflow: hidden;
        min-height: 100vh;

        @media screen and (max-width: 767px) {
            position: relative;
        }
    }
}
