@import '../../../scss/variables.scss';

.file {
    transform: translateY(-0.8em);
}

.file-label:hover .file-cta {
    background-color: $hero-hover-color;
    border-color: transparent;
    color: $main-font-color;
}
.file-cta {
    background-color: $upload-hero-color;
    color: $main-font-color;
    border: 2px dotted $upload-hero-border-color !important;
    transition: 0.3s;
}
